# Python sanal ortamÄ±
backend/.venv/

# Python cache dosyalarÄ±
__pycache__/
*.pyc

# Ortam deÄŸiÅŸkenleri
.env

# VS Code ayarlarÄ±
.vscode/

backend/vector_db/
# Frontend bağımlılıkları ve derleme çıktıları
frontend/node_modules/
frontend/dist/
